.stateStyle {
    fill: #f4f6f6;
    stroke: #707b7c;
    stroke-linejoin: round;
}

.stateDataStyle {
   stroke: #323535;
   stroke-linejoin: round;
}

.tooltipText {
    font-size: 1.8rem; 
    color: black;
    font-weight: 300;
}

.tooltipRect {
    fill: #c4c2d3;
    fill-opacity: 0.5; 
}

.legendStyle {
  font-size: 0.7em;
}

.baseOutline {
  outline: none;
}
