{
  "env" : {
		"umd" : {
			"presets": [ 
				"@babel/preset-react", 
				[ "@babel/preset-env", 
					{
					 "targets": {
						 "browsers": [
							 ">0.5%",
							 "not ie 11",
							 "not op_mini all"
			       ]
					}
				}],
			],
			"plugins": ["emotion"]
		},
   "es6" : {
			"presets": [ 
		  "@babel/preset-react", 
				[ "@babel/preset-env", 
					{
    			"targets": {
						 "esmodules": true
				  },
          modules: false
				}],
			],
			"plugins": ["emotion"]
	 },
   "jest" : {
			"presets": [ 
		  "@babel/preset-react", 
				[ "@babel/preset-env", 
					{
          "modules": 'commonjs',
				}],
			],
			"plugins": ["emotion"]
	 }
	}
}

